.navbar{
    justify-content: center;
}
.five-day-box{
color: white;
background-color: blue;
margin: 0px 12px;
}
.city-data{
    margin: 0px 0px 0px 10px;
    padding: 0 1px;
    border: solid 1px rgb(168, 165, 165);
}
.search-area{
    background-color: rgba(236, 228, 228, 0.918);
}