.navbar{
    justify-content: center;
}
.five-day-box{
color: white;
background-color: blue;
padding: 0px 12px;
margin: 0px 10px;
}
.city-data{
    margin: 0px 0px 0px 10px;
    padding: 0 1px;
    border: solid 1px rgb(168, 165, 165);
}
.search-area{
    background-color: rgb(247, 242, 242);
}
.cities{
    background-color: white;
    border: solid 1px rgb(168, 165, 165);
    margin: 1px 0px 0px 0px;
    cursor: pointer;
    
}
#header{
    font-size: 35px;
}
